<!DOCTYPE html>
<html lang="es">
<head>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.min.1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui.1.11.1.js"></script>
    <script src="~/Scripts/Metodos.js"></script>
    <script src="~/Scripts/Scripts.js"></script>
    <link href="~/Style/EstilosSincoPolla.css" rel="stylesheet" /> 
</head>

<body id="body" style="margin:0">
    <div>
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
</body>
</html>
